@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
    *::-webkit-scrollbar{
        @apply bg-gray-100;
            width: 0.25rem;
            height: 0.25rem;
    }
    *::-webkit-scrollbar-thumb{
        @apply bg-primaryColor
    }
}

:root {
  --sky-300: rgb(125 211 252);
  --pink-300: rgb(249 168 212);
  --green-300: rgb(134 239 172);
  --yellow-300: rgb(253 224 71);
  --red-300: rgb(252 165 165);
  --purple-300: rgb(216 180 254);
  --blue-300: rgb(147 197 253);
  --indigo-300: rgb(165 180 252);
  --violet-300: rgb(196 181 253);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out forwards;
}

