@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}


@layer base {
    *::-webkit-scrollbar{
        @apply bg-gray-100;
            width: 0.25rem;
            height: 0.25rem;
    }
    *::-webkit-scrollbar-thumb{
        @apply bg-primaryColor
    }
}